<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "/WEB-INF/config/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
		<setting name="useGeneratedKeys" value="true"/>
    </settings>
    <typeAliases>
        <!-- 빈클래스 별명 (Alias) -->
        <!-- <typeAlias type="" alias=""/> -->
        <package name="com.team1.chting"/>
    </typeAliases>

    <mappers>
        <package name="om.team1.chting"/>
    </mappers>

</configuration> 