/*
Custom CSS for TemplateMo 561 Purple Buzz
https://templatemo.com/tm-561-purple-buzz

*/
.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: inherit;
    left: 0;
    /*opacity: 0.8;*/
    background-color: #A0A3F2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sideBtn {
    position: fixed;
    padding: 0 1rem 0 1rem;
    z-index: 1;
    left: 2%;
    color : #281e74;
    background-color: #EBEBFF;
    border-radius: 5px;
    border-bottom-style: ridge;
    border-right-style: ridge;
    top: inherit;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ******************************** */

#loginBody {
    background-color: white;
    background-size: cover;
    overflow: hidden;
}

.social {
    position: inherit;
    width: 100%;
    top: 0%;
    text-align: center;
    transform: translateY(-0%);
}

.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 135px;
    height: 135px;
    border-radius: 37%;
    border: 2px dashed #6266ea;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 63px;
}

.social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social .link:hover {
    padding: 22px;
    color: white;
    margin-left: -5px;
    transform: translateX(10px) rotate(360deg);
}

.social .link.google {
    background-color: ghostwhite;
    color: #4285f4;
}

.social .link.kakao {
    background-color: #FEE500;
    color: #432F2E;
}

.social .link.github {
    background-color: black;
    color: white;
}